@model ImageUploadDelete.Models.ImageClass

<center>
    <h1>INSERTING ARTWORK INTO SYSTEM</h1>
    <h2>Brought To You By DigiMarketers</h2>
    <hr />
    <form method="post" enctype="multipart/form-data" asp-controller="Image" asp-action="Index">
        <input type="file" name="imgFile" />
        <input type="submit" value="Upload" />
        <hr />
        <table class=" table">
            <tr>
                <th>File Name</th>
                <th>Image</th>
            </tr>
            @foreach (var item in Model.fileImage)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><img src="~/Images/@item.Name" height="80" width="120" /></td>
                    <td><a href="@Url.Action("Delete", "Image", new { imageDelete= item.Name})">Delete</a></td>

                </tr>
            }
        </table>
        
    </form>
</center>


